@import "/src/assets/scss/variables.scss";
.btn {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 8px 15px;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
  border: 1px solid transparent;
  color: #fff;
  cursor: pointer;
  &:disabled {
    opacity: 0.2;
  }
  /* &:hover:not(:disabled) {
    background: transparent;
    opacity: 0.8;
  } */
  &.red {
    background: red;
    color: #fff;
  }
  &.blue {
    background: $blue;
    color: #fff;
  }
  &.green {
    background: green;
    color: #fff;
  }
  &.white {
    border-color: $blue;
    color: $blue;
  }
}
.fullWidth {
  width: 100%;
}
