@import "/src/assets/scss/variables.scss";
.root {
  padding: 10px 0;
}
.wrap {
  display: flex;
  max-width: 1200px;
  width: 100%;
  justify-content: space-between;
  padding: 0 15px;
  margin: 0 auto;
}
.logo {
  display: flex;
  font-size: 16px;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  padding: 4px 10px;
  border-radius: 5px;
  color: #fff;
  background: #000;
}
.btns {
  display: flex;
  & a:first-child {
    margin-right: 15px;
  }
}
